@model RentalCars.Models.Car

@{
    ViewBag.Title = "Delete";
}

<!-- Plugged in my own .css file -->
@Styles.Render("~/Content/Styles.css")

<h2>Delete</h2> <!-- Main Title -->

<h3>Are you sure you want to delete this?</h3> <!-- Title -->
<div>
    <h4>Car</h4> <!-- Title -->
    <hr />

    <!-- Descritpion list -->
    <dl class="dl-horizontal text-primary"> <!-- Added text css / dl is Description List -->
        <dt> <!-- Represents a Description Term or name -->
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd> <!-- Represents a description -->
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicencePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicencePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd> <!-- Needed to convert DateTime toString -->
            @Convert.ToDateTime(Model.Year).ToString("dd/MM/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
    <!-- Descritpion list/ -->

    <!-- Buttons / delete / back to list -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-outline-danger" id="btnDel" />
            <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Back to List", "Index")</button>
        </div>
    }
</div>
